<h1>CALL FOR PAPERS</h1>

<b>Cambridge, UK, 27-29 May 2016<br/>
Anglia Ruskin University</b>

<p>The second International Conference on Technologies for Music Notation and Representation is dedicated to issues in theoretical and applied research and development in Music Notation and Representation, with a focus on computer tools and applications, music creation and cognition.</p>

<p>Until very recently, the support provided by computer music developers and practitioners to the field of symbolic notation has remained fairly conventional. However, recent developments indicate that the field of tools for musical notation is now moving towards new forms of representation. Moreover, musical notation, transcription, sonic visualisation, and musical representation are often associated with the fields of musical analysis, ethnology, and acoustics. The aim of this conference is to explore all recent mutations of notation and representation in all domains of music.</p>

<p>This year we are extending the call to include cognition as well as ontological issues of performance practice arising from the use of traditional and/or graphical notation systems in live electronics.</p>

<p>In addition to paper submissions, we are interested in receiving proposals for workshops involving technologies of notation and representation. We would also be happy to receive proposals involving presentation formats which challenge the paper/presentation model.</p>

<b>TOPICS OF INTEREST</b>

Musical creation
<ul>
<li>Notation in electronic and electroacoustic music</li>
<li>Notations for interactive music</li>
<li>Notation for sound installations</li>
<li>Notation for the multimedia and mixed arts</li>
<li>Live coding</li>
<li>Ontologies of notation</li>
</ul>
<ul>
Musical notation
<li>Innovative computer applications for music notation</li>
<li>Languages for music notation</li>
<li>Gesture notation</li>
<li>Notation and mobile devices</li>
<li>Exchange formats for music notation</li>
<li>Online tools and languages for music notation and representation</li>
</ul>

Analysis, notation & pieces studies
<ul>
<li>Analysis of contemporary notations</li>
<li>Semiotics of new notation forms</li>
<li>Ontology of the notation of interactive music</li>
<li>Data mining, music notation corpus, databases</li>
<li>Notation in mind: notation and cognition</li>
</ul>

Representation, transcription
<ul>
<li>Sound visualisation</li>
<li>Interactive representation</li>
<li>Transcription in ethnomusicology and representation of non-written musics</li>
<li>Non-western or ancient music trans-notation</li>
<li>Representation and transcription in acoustic ecology and soundscapes</li>
<li>Optical music recognition</li>
</ul>

Listening, teaching
<ul>
<li>Listening guides</li>
<li>Live and offline annotation</li>
<li>Notations for music pedagogy</li>
</ul>


<h2>SUBMISSION</h2>

<p>More information & submission at <a href="http://tenor2016.tenor-conference.org">http://tenor2016.tenor-conference.org</a></p>

Deadline for paper and workshop proposal submission:
<b>Monday November 16, 2015</b>
