<p>
The International Conference on Technologies for Music Notation and Representation
is dedicated to issues in theoretical and applied research and development in Music
Notation and Representation, with a strong focus on computer tools and applications,
as well as a tight connection to music creation.
"Technology" in the conference name refers to any mean that may contribute to the notation,
representation and/or visualisation of the music and sound, for purposes that may include
(but not limited to) music composition, performance, representation, transcription, analysis
and pedagogy.
</p>
<p>
The first edition of the conference - <a href="http://tenor2015.tenor-conference.org">TENOR 2015</a> -
has been held in Paris in May 2015. It was initiated as the final outcome of a working group
entitled <a href="http://notation.afim-asso.org">The new Spaces of Music Notation</a>.
</p>
<center>
<img ng-src="images/tenor.png" height="180">
</center>