<p>
If you are interested in hosting a future TENOR, please submit a proposal to the Steering Committee.
Guidelines and proposal forms are available <a ng-href='rsrc/application-package.zip'>here</a>. The TENOR conference is intended to move between
North America, Asia and Europe. Nevertheless, the excellence of the proposal is the
most important factor for the decision taken by the Steering Committee.
</p>
<p>
Feel free to approach us with any questions you may have regarding hosting the conference.
</p>
