<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <div ng-repeat="item in newsItems">
        <div class="post-preview">
          <a ng-href="#/newsitems/{{item.postlink}}">
            <h2 class="post-title">
              {{item.big}}
            </h2>
            <h3 class="post-subtitle">
              {{item.small}}
            </h3>
          </a>
          <p class="post-meta">Posted by <a ng-href="{{item.person.website}}">{{item.person.name}}</a> on {{item.date}}</p>
        </div>
        <hr>
      </div>
      <ul class="pager">
        <li class="next">
          <a href="#">More news &rarr;</a>
        </li>
      </ul>
    </div>
  </div>
</div>
