<h2>2015</h2>
<div class=papers>
  <ul>
    <li ng-repeat="paper in papers2015">
      <div class=pdficon> <a ng-href='{{paper.pdf}}' target=_blank><img ng-src="images/pdficon.gif" alt="Download" height=22></a></div>
      <div class=papertitle>{{paper.title}}</div>
      <div class="paperauth">{{paper.auth}}</div>
      <div class="abstractlink">
        <a ng-click="toAbstract($index)">Abstract</a> &nbsp;&nbsp;
        <a ng-click="toBibtex($index)">Bibtex</a>
      </div>

      <div ng-show="showing[$index] === 'ABSTRACT'" class="abstract">
        {{paper.abstract}}
      </div>

      <div ng-show="showing[$index] === 'BIBTEX'" class="abstract">
          @inproceedings{ {{paper.first}}_tenor2015,
       <div class="indent">
         Address = {Paris, France}, <br />
         Author = { {{paper.auth}} }, <br />
         Title = { {{paper.title}} }, <br />
         Booktitle = {Proceedings of the First International Conference on Technologies for Music Notation and Representation - TENOR2015}, <br />
         Pages = { {{paper.pages}} }, <br />
         Year = {2015}, <br />
         Editor = {Marc Battier and Jean Bresson and Pierre Couprie and Cécile Davy-Rigaux and Dominique Fober and Yann Geslin and Hugues Genevois and François Picard and Alice Tacaille}, <br />
         Publisher = {Institut de Recherche en Musicologie}, <br />
         ISBN = {978-2-9552905-0-7}
       </div>
          }
       </div>
    </li>
  </ul>
</div>
